.layout {
  position: relative;
  top: -4rem;
  left: -2rem;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: 0% center;
  animation:
    moveBackground 200s linear infinite,
    fadeIn 2s ease-in;
}
.layout__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: cover;
  background-position: inherit;
  z-index: -1;
}

.layout__background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  z-index: -1;
}

@keyframes moveBackground {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}
