.layout {
  position: relative;
  top: -4rem;
  left: -2rem;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: 0% center;
  animation:
    moveBackground 200s linear infinite,
    fadeIn 2s ease-in;
}

.layout__header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--header-background);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }

  .layout__header img {
    transform: translateY(2rem);
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.7));
    transition: transform 0.3s ease; /* Smooth hover effect */
  }

  .layout__header img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
  }


.layout__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: cover;
  background-position: inherit;
  z-index: -1;
}

.layout__background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  z-index: -1;
}

@keyframes moveBackground {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}
